body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
    padding: 0;
    background-color: #fafafa;
}

form {
    margin: auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #555555;
}

fieldset {
    border: 2px solid #d1d1d1;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fdfdfd;
}

legend {
    font-weight: bold;
    text-align: left;
    color: #444444;
}

label {
    display: block;
    margin-top: 10px;
    color: #555555;
}

input, textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fefefe;
}

button {
    display: block;
    width: 100%;
    background-color: #6abf69;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #57a657;
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #d1d1d1;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

#resume-display h2 {
    color: #444444;
}
